
html, body {
    height: 100%;
    font-size: 50px;
}

a {
    text-decoration:none;
    color: #000;
}

.left {
    width: 60%;
    float: left;
}

.right {
    width: 30%;
    float: left;
}

.btn {
    height: 90%;
    margin: 10px;
    padding: 0px;

    text-align: center;
    vertical-align: middle;

    background: #fffff0;
    border: 4px solid #fff;
    border-radius: 5px;
    box-shadow: 2px 5px 3px rgba(0,0,0,0.4);
}

#time {
    width: 90%;
    height: 20%;
    margin: 10px;
    padding: 15px;
}

#misc {
    height: 30%;
}

#buttons {
    height: 50%;
}
